* {
  font-family: Roboto;
}


.flex-container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-self: stretch;
}
.flex-container div {
  height: 200px;
  flex: 1 1 auto
}
.flex-container .header-container {
  background: #1f2937;
}
.flex-container .information {

}
.flex-container .quote {
  background: #e5e7eb;
}
.flex-container .signup {
  
}
.flex-container .copyright {
  background: #1f2937;
}