.flex-container {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.flex-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  flex: 1 1 auto
}
.flex-container .header-container {
  background-color:1f2937;
}